 .tab-bar{
 	 z-index: 18;
 	border-bottom: 1px solid $uni-border-color;
 	position: fixed;
 	top: 0;
 	left: 0;
 	width: 100%;
 	height: 88rpx;
	
 	margin-top: var(--status-bar-height);
 	background: rgba(255,255,255,1);
 	.tab-left{
 		float: left;
 		position: absolute;
 		margin-left: 20rpx;
 		transform: translateY(-50%);
 		top: 50%;
 		image{
 			width: 68rpx;
 			height: 68rpx;
 			border-radius: 16rpx;
 		}
 	}
 	.tab-center{
 		position: absolute;
 		left: 50%;
 		transform: translate(-50%,-50%);
 		top: 50%;
 		text-align: center;
 		
 	}
 	.tab-right{
 		width:140rpx ;
 		position: absolute;
 		right: 0;
 		transform: translateY(-50%);
 		top: 50%;
 		
 		.serch{
 			display: inline-block;
 			margin-right: 20rpx;
 			image{
 				width: 52rpx;
 				height: 52rpx;
 			}
 		}
 		.add{
 			display: inline-block;
 			margin-right: 20rpx;
 			image{
 				width: 48rpx;
 				height: 48rpx;
 			}
 		}
		
		.more-img{
			padding-right: $uni-spacing-col-base;
			border: 1 px solid red;
			image{
				width: 52rpx;
				height: 52rpx;
					
			}
		}
 		
 	}
 	
 }